{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block container %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">
<div class="row-fluid">
	<div class="span10 offset1">

		<div class="row-fluid">
			<div class="bottombreathe">
				<h2 id="about">About RecordTrac Nepal</h2>
				<p class="lead">RecordTrac is a quick, simple way for you to submit a public records request to {{config['AGENCY_NAME']}}.</p>
				<p><strong>Every message or record uploaded on this site is completely public. </strong> This makes easier to understand what happens to every request.</p>
			</div>
			<div class="bottombreathe">
				<h4 id="what">What is RecordTrac Nepal?</h4>
				<p>RecordTrac is a quick, simple way for individuals to submit public record requests to a government agency.</p>
			</div>
		</div>
	</div>
</div>
{% endblock container %}
