{% extends "base.html" %}
{% block container %}

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="row-fluid">
      {% if after_reset %}
        {% if reset_success %}
        <p>{% trans %}Your password has been reset.{% endtrans %}</p>
        <p>{% trans %}Please check your email for a temporary password.{% endtrans %}</p>
        {% else %}
        <p> {% trans %}There was an issue resetting your password.{% endtrans %}</p>
        <p> {% trans %}Your email is not registered in the system.{% endtrans %}</p>
        {% endif %}
      {% else %}
      <h3>{% trans %}Reset your password{% endtrans %}</h3>
      <p>{% trans %}Type your email address in the field:{% endtrans %}</p>
          <form class="" method="post" id="passwordForm" action="/reset_password">
            <fieldset>
                <div class="row-fluid">
                  <!-- <h4>Add a note</h4> -->
                  <div class="control-group">
                    <div class="controls">
                      <input type="email" class="input-large" name="email" placeholder="{% trans %}email@example.com{% endtrans %}">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-primary" value="Reset">{% trans %}Reset{% endtrans %}</button>
                    </div>
                  </div>
                </div>
              </fieldset>
          </form>
        {% endif %}
        {% block contact %}
        <br/>
        <br/>
      {% endblock contact %}
      </div>
  </div>
</div>






{% endblock container %}
